.title {
  margin: 0 auto;
}

.mainLayout {
  max-width: 1078px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: nowrap;

  gap: 1rem;
}

.mainContent {
  display: flex;
  flex-wrap: nowrap;

  gap: 1rem;

  .categoryCard {
    max-width: 170px;

    object-fit: cover;

    img {
      max-width: 100%;
    }
  }

  .categoryCard:hover {
    opacity: 0.75;
  }
}
