/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html, */
body {
  height: 100vh;
  background: rgb(128, 62, 91);
  background: radial-gradient(circle, rgba(128, 62, 91, 1) 0%, rgba(23, 31, 60, 1) 100%);
  z-index: 0;
  font-family: 'WubbaLubbaDubDub';
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'WubbaLubbaDubDub';
  src: url('./fonts/WubbaLubbaDubDub.ttf');
}
