.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  ul {
    list-style: none;
  }

  li {
    text-decoration: none;
  }
}

.goBackBtn {
  font-family: inherit;
  font-size: 30px;
  background-color: inherit;
  color: white;
  outline: none;
  padding: 10px 8px;
}

.goBackBtn:hover {
  color: lightgray;
}
